<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!-- begin::Sub Categories -->
        <div class="card gutter-b card-stretch py-1">
            <div class="d-flex">
                <span
                    class="py-4 ml-10 cursor-pointer border-bottom border-3 border-bottom-primary text-primary"
                    routerLink="/media/publications"
                    routerLinkActive="active"
                >
                    Publications
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/blogs"
                    routerLinkActive="active"
                >
                    Blogs
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/podcasts"
                    routerLinkActive="active"
                >
                    Podcasts
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/radio"
                    routerLinkActive="active"
                >
                    Radio
                </span>
            </div>
        </div>
        <!-- end::Sub Categories -->
        <!-- begin::Search Option Wrapper -->
        <div [ngClass]="'card gutter-b card-stretch p-4'">
            <!-- begin::Search Option -->
            <ng-container>
                <div _ngcontent-fnu-c488="" class="form-group row">
                    <div _ngcontent-fnu-c488="" class="col-lg-2 ng-untouched ng-pristine ng-valid" ng-reflect-form="[object Object]">
                        <small _ngcontent-fnu-c488="" class="form-text text-muted pb-2">
                            Target publication:
                        </small>
                        <input _ngcontent-fnu-c488="" type="text" name="searchText" placeholder="Search" value="" formcontrolname="searchTerm" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="searchTerm">
                    </div>
                    <div _ngcontent-fnu-c488="" class="col-lg-4">
                        <div _ngcontent-fnu-c488="" class="row ng-untouched ng-pristine ng-valid" ng-reflect-form="[object Object]">
                            <div _ngcontent-fnu-c488="" class="col-lg-6">
                                <small _ngcontent-fnu-c488="" class="form-text text-muted pb-2">
                                    Target format:
                                </small>
                                <select _ngcontent-fnu-c488="" name="status" placeholder="Filter by Status" formcontrolname="status" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="status">
                                    <option _ngcontent-fnu-c488="" value="" ng-reflect-value="">All</option>
                                    <option _ngcontent-fnu-c488="" value="1" ng-reflect-value="1">Susspended</option>
                                    <option _ngcontent-fnu-c488="" value="2" ng-reflect-value="2">Active</option>
                                    <option _ngcontent-fnu-c488="" value="3" ng-reflect-value="3">Pending</option>
                                </select>
                            </div>
                            <div _ngcontent-fnu-c488="" class="col-lg-6">
                                <small _ngcontent-fnu-c488="" class="form-text text-muted pb-2">Target categories:</small>
                                <select _ngcontent-fnu-c488="" placeholder="Filter by Type" name="type" formcontrolname="type" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="type">
                                    <option _ngcontent-fnu-c488="" value="" ng-reflect-value="">All</option>
                                    <option _ngcontent-fnu-c488="" value="1" ng-reflect-value="1">Business</option>
                                    <option _ngcontent-fnu-c488="" value="2" ng-reflect-value="2">Individual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- end::Search Option -->
        </div>
        <!-- end::Search Option Wrapper -->
        <!-- begin::Table Wrapper -->
        <div class="card gutter-b">
            <div class="card-body">
                <!-- begin::Table -->
                <table [ngClass]="'table table-head-custom table-vertical-center overflow-hidden'">
                    <thead>
                        <th [ngClass]="'selection-cell-header'" data-row-selection="true">
                            <label for="" [ngClass]="'checkbox checkbox-single'">
                                <input type="checkbox" /><span></span>
                            </label>
                        </th>
                        <th>
                            Publication
                        </th>
                        <th>
                            Categories
                        </th>
                        <th>
                            Top Countries
                        </th>
                        <th>
                            VMI
                        </th>
                        <th>
                            DA
                        </th>
                        <th>
                            PA
                        </th>
                        <th>
                            Market value
                        </th>
                        <th>
                            Coverage Type
                        </th>
                        <th>
                            Format
                        </th>
                        <th>
                            TAT
                        </th>
                        <th>
                            Offers
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of number">
                            <td class="selection-cell">
                                <label for="" class="checkbox checkbox-single">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <span style="width: 250px;">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-40 symbol-sm flex-shrink-0">
                                            <img class="" src="assets/media/users/100_10.jpg" alt="photo">
                                        </div>
                                        <div class="ml-4">
                                            <div class="d-flex align-items-center">
                                                <div class="text-dark-75 font-weight-light font-size-lg mb-0">Hayes Boule</div>
                                                <i class="icon-sm fas fa-star ml-4" [class.text-warning]="i.id === 1"></i>
                                            </div>
                                            <a href="#" class="text-muted font-weight-light text-hover-primary">hboule.com</a>						
                                        </div>
                                    </div>
                                </span>
                            </td>
                            <td>
                                Business Finance
                                <span class="label label-xs label-white ml-2 shadow p-1">+5</span>
                            </td>
                            <td>
                                <div class="text-center">
                                    <img src="assets/media/flags/US.png" alt="image">
                                </div>
                            </td>
                            <td [class.text-success]="i.id > 3" [class.text-danger]="i.id < 3">
                                8.8
                            </td>
                            <td [class.text-success]="i.id > 3" [class.text-danger]="i.id < 3">
                                95
                            </td>
                            <td [class.text-success]="i.id > 3" [class.text-danger]="i.id < 3">
                                81
                            </td>
                            <td>
                                $2,820
                            </td>
                            <td class="text-center">
                                c
                            </td>
                            <td class="text-center">
                                c
                            </td>
                            <td>
                                2-8 weeks
                            </td>
                            <td class="text-center">
                                c
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end::Table -->
                <!--begin::Pagination-->
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex flex-wrap mr-3">
                        <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
                            <i class="ki ki-bold-double-arrow-back icon-xs"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
                            <i class="ki ki-bold-arrow-back icon-xs"></i>
                        </a>
                        <!-- <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">...</a> -->
                        <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">
                            1
                        </a>
                        <!-- <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">...</a> -->
                        <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
                            <i class="ki ki-bold-arrow-next icon-xs"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
                            <i class="ki ki-bold-double-arrow-next icon-xs"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <select
                            ng-model="viewBy"
                            class="form-control form-control-sm text-primary font-weight-bold mr-4 border-0 bg-light-primary"
                            style="width: 75px;"
                        >
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <span class="text-muted">Showing {{ pageSize }} of {{ numberOfPage }}</span>
                    </div>
                </div>
                <!--end:: Pagination-->
            </div>
        </div>
        <!-- end::Table Wrapper -->
    </div>
    <!-- end::Container -->
</div>