<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12"
            >
                <!--begin::Card-->
                <div class="card card-custom gutter-b card-stretch" style="height: fit-content;">
                    <!--begin::Body-->
                    <div class="card-body">
                        <!-- begin::Left side -->
                        <div class="border border-3 rounded-sm py-4">
                            <div [ngClass]="'border-bottom'">
                                <a class="d-flex align-items-center flex-grow-1 border-primary border-left border-3" style="background-color: rgb(247, 248, 250);">
                                    <i class="icon-lg fab fa-adn text-primary" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Any Status </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1">
                                    <i class="icon-lg far fa-clock" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Active </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1">
                                    <i class="icon-lg fas fa-check-double" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Complete </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1">
                                    <i class="icon-lg fas fa-window-close" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Terminated </span>
                                </a>
                            </div>
                            <div [ngClass]="'border-bottom'">
                                <a class="d-flex align-items-center flex-grow-1 border-primary border-left border-3" style="background-color: rgb(247, 248, 250);">
                                    <i class="icon-lg far fa-check-circle text-primary" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Any Type </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1">
                                    <i class="icon-lg fas fa-dollar-sign" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Paid </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1">
                                    <i class="icon-lg fas fa-user-check" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> Pitching </span>
                                </a>
                            </div>
                            <div>
                                <a class="d-flex align-items-center flex-grow-1 border-primary border-left border-3" style="background-color: rgb(247, 248, 250);">
                                    <i class="icon-lg far fa-check-circle text-primary" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> All Projects </span>
                                </a>
                                <a class="d-flex align-items-center flex-grow-1 pl-1" *ngFor="let item of companies">
                                    <i class="icon-lg fas fa-tag text-warning" [ngClass]="'p-4'"></i>
                                    <span class="text-secondary"> {{ item.name }} </span>
                                </a>
                            </div>
                        </div>
                        <!-- end::Left side -->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end:: Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div
                class="col-xl-9 col-lg-9 col-md-12 col-sm-12"
            >
                <div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="accordionExample8">
                    <!-- begin::Accordion -->
                    <div class="card py-4" *ngFor="let item of personalInfo;let indexOfelement=index;">
                        <!-- begin::Accordion Header -->
                        <div class="card-header">
                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne8" aria-expanded="false">
                                <i class="icon-xl fas fa-star text-warning"></i>
                                <div class="mr-10">
                                    Roobee May #2
                                    <div class="font-size-xs text-dark-50">May 12, 2019</div>
                                </div>
                                <div class="card-label font-weight-lighter">
                                    Virginia Gazette, Sun Sentinel
                                    <div class="d-flex">
                                        <div class="font-size-xs text-warning">
                                            <i class="fas fa-star text-warning"></i>
                                            Roobee
                                        </div>
                                        <div class="font-size-xs text-muted ml-10">
                                            <i class="fas fa-star"></i>
                                            Vlad
                                        </div>
                                        <div class="font-size-xs text-muted ml-10">
                                            <i class="fas fa-star"></i>
                                            2 publications
                                        </div>
                                    </div>
                                </div>
                                <i class="icon-xl far fa-clock text-success"></i>
                                <span
                                    class="svg-icon"
                                    (click)="isCollapsed[indexOfelement] = !isCollapsed[indexOfelement]"
                                    [attr.aria-expanded]="!isCollapsed[indexOfelement]"
                                >
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#ff0000" fill-rule="nonzero"></path>
                                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#ff0000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                        </div>
                        <!-- end::Accordion Header -->
                        <!-- begin::Accordion Body -->
                        <div class="collapse" [ngbCollapse]="isCollapsed[indexOfelement]">
                            <div class="card">
                                <div class="card-body">
                                    <!-- begin::Tool Body -->
                                    <div class="d-flex bg-light w-100 p-2 mt-4">
                                        <span class="text-primary px-10">Paid Publications</span>
                                        <span class="text-dark-50">Organic Pitching</span>
                                        <div class="d-flex ml-auto">
                                            <i class="far fa-clock text-dark-50 px-2"></i>
                                            <i class="far fa-clock text-dark-50 px-2"></i>
                                            <i class="far fa-clock text-dark-50 px-2"></i>
                                        </div>
                                    </div>
                                    <!-- end::Tool Body -->
                                    <!-- begin::Table -->
                                    <div class="table-responsive-xl">
                                        <!-- begin::Table -->
                                        <table  class="table table-head-custom table-vertical-center overflow-hidden text-center">
                                            <!-- begin::Table Header -->
                                            <thead>
                                                <th></th>
                                                <th>PUBLICATION</th>
                                                <th>TYPE</th>
                                                <th>COVERAGE</th>
                                                <th>ORDER DATE</th>
                                                <th>DUE DATE</th>
                                                <th>TOTAL</th>
                                                <th>STATUS</th>
                                                <th>ACTIONS</th>
                                            </thead>
                                            <!-- end::Table Header -->
                                            <!-- begin::Table Body -->
                                            <tbody>
                                                <tr *ngFor="let i of personalInfo">
                                                    <td class="text-left">
                                                        <span class="bg-primary py-0.5 px-2 text-light">F</span>
                                                    </td>
                                                    <td>Forbes</td>
                                                    <td>
                                                        <span class="bg-primary py-0.5 px-1 text-light">M</span>
                                                    </td>
                                                    <td>
                                                        <span class="bg-primary py-0.5 px-1 text-light">Q</span>
                                                    </td>
                                                    <td class="text-dark-50">May 15</td>
                                                    <td class="text-dark-50">Jun 20</td>
                                                    <td class="text-success font-size-xs">$4,500<i class="far fa-clock text-success ml-4"></i></td>
                                                    <td>
                                                        <span _ngcontent-wxg-c518="" class="label label-dot label-primary mr-2"></span>
                                                    </td>
                                                    <td>
                                                    <i class="far fa-clock text-success m-1"></i>
                                                    <i class="far fa-clock text-success m-1"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- end::Table Body -->
                                        </table>
                                        <!-- end::Table -->
                                    </div>
                                    <!-- end::Table Wrapper -->
                                </div>
                            </div>
                        </div>
                        <!-- end::Accordion Body -->
                    </div>
                    <!-- end::Accordion -->
                </div>  
            </div>
            <!--end::Row-->
        </div>
    <!--end::Container-->
</div>
