<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!-- begin::Sub Categories -->
        <div class="card card-custom gutter-b card-stretch py-1">
            <div class="d-flex">
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/publications"
                    routerLinkActive="active"
                >
                    Publications
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/blogs"
                    routerLinkActive="active"
                >
                    Blogs
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/media/podcasts"
                    routerLinkActive="active"
                >
                    Podcasts
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer border-bottom border-3 border-bottom-primary text-primary"
                    routerLink="/media/radio"
                    routerLinkActive="active"
                >
                    Radio
                </span>
            </div>
        </div>
        <!-- end::Sub Categories -->
    </div>
    <!-- end::Container -->
</div>