<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!-- begin::Sub Categories -->
        <div class="card gutter-b card-stretch py-1">
            <div class="d-flex">
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/relations/publishers"
                    routerLinkActive="active"
                >
                    Publishers
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/relations/agents"
                    routerLinkActive="active"
                >
                    Agents
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/relations/companies"
                    routerLinkActive="active"
                >
                    Companies
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer border-bottom border-3 border-bottom-primary text-primary"
                    routerLink="/relations/people"
                    routerLinkActive="active"
                >
                    People
                </span>
                <span
                    class="py-4 ml-10 cursor-pointer"
                    routerLink="/relations/freelancers"
                    routerLinkActive="active"
                >
                    Freelancers
                </span>
            </div>
        </div>
        <!-- end::Sub Categories -->
    </div>
    <!-- end::Container -->
</div>